<section class="index-page">
  <img 
    class="avatar" 
    src={{ avatar }}>
     
  <h3>Hello {{name}}!</h3>

  <a 
    href = "/auth/logout" 
    class="logoutBtn">
      Log out
  </a>

</section>